<% provide(:title, 'About') %>
<h1>This is a site about a guy learning to code</h1>
<p>This is a page created to learn Ruby on Rails. You can follow my progress at <%= link_to 'my Github page', 'http://www.github.com/danielspector/rails_hartl' %></p>
